

<main>
    <div class="card">
        <h1>New User</h1>
        <div class="card__body">
            <%= form_for @user do |f| %>
                
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>
            
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
            
                <%= f.label :username %>
                <%= f.text_field :username %>
            
                <%= f.label :password %>
                <%= f.password_field :password %>
            
                <%= f.label :bio %>
                <%= f.text_area :bio %>
                    
                <%= f.submit %>
            <% end %>
            
            <% if flash[:errors] %>
                <% flash[:errors].each do |error| %>
                    <p style="color:red"><%= error %></p>
                <% end %>
            <% end %>
        </div>
    </div>
</main>