<h1>Hi there, <%= @user.first_name %>!</h1>

<h3>Full name</h1>
<%= @user.full_name %>

<h3>Username</h1>
<%= @user.username %>

<h3>Description</h3>
<%= @user.bio %>

<h3>Owned Products</h3>
<% @user.owned_products.each do |owned_product| %>
    <%= link_to owned_product.name, product_path(owned_product) %>
<% end %>

<h3>Review</h3>
<% @user.reviews.each do |review| %>
    <div>
        Name: 
        <%= link_to review.product.name, product_path(review.product) %><br>
        Rating: 
        <%= review.rating %><br>
        Content: 
        <%= review.content %><br>
    </div><br>
<% end %>