<h1>Hi there, <%= @user.username %>!</h1>

<h1>Name</h1>
<%= @user.username %>

<h3>Description</h3>
<%= @user.bio %>

<h3>Review</h3>
<% @user.reviews.each do |review| %>
    <div>
        Name: 
        <%= review.product.name%><br>
        Rating: 
        <%= review.rating %><br>
        Content: 
        <%= review.content %><br>
    </div><br>
<% end %>