
<main>
    <h2>All <%= @category.name.capitalize %> Products: <%= @category.total_items %></h2>
    <% if !@category.id == nil %>
        <%= link_to "Highest Rated Product", product_path(@category.highest_category_item_rating) %>
        <%= link_to "Lowest Rated Product", product_path(@category.lowest_category_item_rating) %>
    <% end %>
    <ul>
        <% @category.products.each do |product| %>
            <div class="card">
                <div class="card__body">
                    <div class="half">
                        <div class="text">
                           <h1><%= product.name %></h1>
                           <p class="price">$<%= product.price %></p>
                            
                        </div>
                    </div>
                    <div class="half">
                        <div class="description">
                            <p><%= product.description %></p>
                        </div>
                        <div class="view__button">
                            <%= link_to "Full Page", product_path(product) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </ul>
<main>
