<h3>Product Name:</h3>
<%= @product.name %>

<h6>Price:</h6>
<%= @product.price %>

<p>Description:
<%= @product.description %></p>

<p>Review:
<% @product.reviews.each do |review| %>
    <%= review.content %>
    <%= review.rating %>
<% end %>