
<div class="product page">
    <h3>Product Name:</h3>
    <%= @product.name %><br>

    <h3>Product Owner:</h3>
    <%= link_to @product.owner.username, user_path(@product.owner) %><br>

    <h6>Price:</h6>
    <%= @product.price %>

    <h6>Category:</h6>
    <% @product.product_categories.each do |pc| %>
        <%= link_to pc.category.name, category_path(pc.category) %>
    <% end %>
    <div>
    <p>Description:</p>
    <%= @product.description %>

    <p>Review:</p>
    <ul>
        <% @product.reviews.each do |review| %>
            <li>
                <%= link_to review.user.full_name, user_path(review.user) %>
                <h6>Rating: <%= review.rating %></h6><br>
                <p><%= review.content %></p><br>
            </li>
        <% end %>
    </ul>
</div>
