<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>

    <div class="header">
      <h1>Mod2Project</h1>
    </div>

    <div class="navbar">
      <a href="#">Link</a>
      <a href="#">Link</a>
      <p class="user">Hi there, <%= @user.name %>!</p>
    </div>

    <%= yield %>
  </body>
</html>
